.icon {
    width: 64px;
    height: 84px;
    position: absolute;
}

.icon .img {
    width: 64px;
    height: 64px;
}

.icon .text {
    width: 64px;
    height: 20px;
    text-align: center;
}
.icon.active {
    border: 1px solid black;
}




.music .img {
    background: url(../images/music.png) no-repeat top left;
}

.text .img {
    background: url(../images/text.png) no-repeat top left;
}

